.form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 20px;
}

.form>*{
    margin: 5px;
}

.form__submit-btn{
    background-color: black;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.form__input{
    background-color: #f6f6f6;
}

.form__input::placeholder{
    font-style: italic;
}

.form__submit-btn, .form__input{
    padding: 10px;
}

